In [6]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import sweetviz as sv
import dtale

import config

# 最大表示列数の指定（ここでは50列を指定）
pd.set_option("display.max_columns", 50)

In [15]:
df_gene_panel_matrix = pd.read_table(
    config.RAW_BRCA_METABRIC_DIR + "/data_gene_panel_matrix.txt"
)
df_gene_panel_matrix

      SAMPLE_ID     mutations
0       MB-0000  METABRIC_173
1       MB-0002  METABRIC_173
2       MB-0005  METABRIC_173
3       MB-0006  METABRIC_173
4       MB-0008  METABRIC_173
...         ...           ...
2504  MTS-T2428  METABRIC_173
2505  MTS-T2429  METABRIC_173
2506  MTS-T2430  METABRIC_173
2507  MTS-T2431  METABRIC_173
2508  MTS-T2432  METABRIC_173

[2509 rows x 2 columns]

In [16]:
df_gene_panel_matrix[df_gene_panel_matrix.mutations.duplicated()]

      SAMPLE_ID     mutations
1       MB-0002  METABRIC_173
2       MB-0005  METABRIC_173
3       MB-0006  METABRIC_173
4       MB-0008  METABRIC_173
5       MB-0010  METABRIC_173
...         ...           ...
2504  MTS-T2428  METABRIC_173
2505  MTS-T2429  METABRIC_173
2506  MTS-T2430  METABRIC_173
2507  MTS-T2431  METABRIC_173
2508  MTS-T2432  METABRIC_173

[2508 rows x 2 columns]

全てのデータが重複しているので患者毎の差異はないと思われる。